<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="sitemap" type="application/xml" href="{{ '/sitemap.xml' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  <link rel="icon" href="{{ '/assets/img/favicon.svg' | absolute_url }}" type="image/svg+xml">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
</head>
<body>

  <a class="skip-link" href="#main-content">Saltar al contenido</a>

  <div class="frame">
    {% include topnav.html %}
    {{ content }}
    {% unless page.url == '/' %}{% include footer.html %}{% endunless %}
  </div>

  <script src="{{ '/assets/js/main.js' | absolute_url }}" defer></script>
</body>
</html>
